a,
a:focus,
a:hover {
  color: #fff;
}
.bandana a,
.bandana a:focus,
.bandana a:hover {
  color: #27ae60;
}

html,
body {
  height: 100%;
  background-color: white;
  background-size: 100% auto;
}

body {
  color: black;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

#js-warning .panel-body {
  background-color: #3c6eb4;
}

.dropdown-menu {
  min-width: 105px;
}

.bandana .icon {
  font-size: 180px;
}

.title {
    font-size: 40pt;
    font-weight: 900;
    color: #294172;
    text-transform: uppercase;
}

.subtitle {
    font-size: 15pt;
    font-style: italic;
    margin-top: -10px;
    padding-bottom: 12px;
    color: #3c6eb4;
    border-bottom: dashed 1px #3c6eb4;
    display: inline;
}

.font-weight-bold { font-weight: bold }
.font-style-italic { font-style: italic }

.w3-2017-greenery
{color:#fff;background-color:#92B558}
.w3-2017-grenadine
{color:#fff;background-color:#DC4C46}
.w3-2017-tawny-port
{color:#fff;background-color:#672e3b}
.w3-2017-ballet-slipper
{color:#000;background-color:#f3d6e4}
.w3-2017-butterum
{color:#fff;background-color:#c48f65}
.w3-2017-navy-peony
{color:#fff;background-color:#223a5e}
.w3-2017-neutral-gray,.w3-2017-neutral-grey
{color:#fff;background-color:#898e8c}
.w3-2017-shaded-spruce
{color:#fff;background-color:#005960}
.w3-2017-golden-lime
{color:#fff;background-color:#9c9a40}
.w3-2017-marina
{color:#fff;background-color:#4F84C4}
.w3-2017-autumn-maple
{color:#fff;background-color:#d2691e}
.w3-2017-niagara
{color:#fff;background-color:#578CA9}
.w3-2017-primrose-yellow
{color:#000;background-color:#f6d155}
.w3-2017-lapis-blue
{color:#fff;background-color:#004b8d}
.w3-2017-flame
{color:#fff;background-color:#f2552c}
.w3-2017-island-paradise
{color:#000;background-color:#95dee3}
.w3-2017-pale-dogwood
{color:#000;background-color:#edcdc2}
.w3-2017-pink-yarrow
{color:#fff;background-color:#ce3175}
.w3-2017-kale
{color:#fff;background-color:#5a7247}
.w3-2017-hazelnut
{color:#000;background-color:#cfb095}
.w3-text-2017-greenery
{color:#92B558}
.w3-text-2017-grenadine
{color:#DC4C46}
.w3-text-2017-tawny-port
{color:#672e3b}
.w3-text-2017-ballet-slipper
{color:#f3d6e4}
.w3-text-2017-butterum
{color:#c48f65}
.w3-text-2017-navy-peony
{color:#223a5e}
.w3-text-2017-neutral-gray,.w3-text-2017-neutral-grey
{color:#898e8c}
.w3-text-2017-shaded-spruce
{color:#005960}
.w3-text-2017-golden-lime
{color:#9c9a40}
.w3-text-2017-marina
{color:#4F84C4}
.w3-text-2017-autumn-maple
{color:#d2691e}
.w3-text-2017-niagara
{color:#578CA9}
.w3-text-2017-primrose-yellow
{color:#f6d155}
.w3-text-2017-lapis-blue
{color:#004b8d}
.w3-text-2017-flame
{color:#f2552c}
.w3-text-2017-island-paradise
{color:#95dee3}
.w3-text-2017-pale-dogwood
{color:#edcdc2}
.w3-text-2017-pink-yarrow
{color:#ce3175}
.w3-text-2017-kale
{color:#5a7247}
.w3-text-2017-hazelnut
{color:#cfb095}
